.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row > .left,
#lezioni .row > .right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row > .left,
#steps .row > .central,
#steps .row > .right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

/* COMMON */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* RESPONSIVE 420PX */
@media screen and (max-width: 420px) {
  * {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
  }
  .row {
    width: 100%;
    margin-top: 0px;
    padding: 1% 2%;
    font-size: 0.9em;
  }
  #lezioni .row,
  #why .row {
    background-color: #f2f2cd;
  }
  #lezioni .row > .left,
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right,
  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    margin-bottom: 20px;
  }
  #lezioni .row > .left,
  #lezioni .row > .right,
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right {
    width: 100%;
    float: none;
    padding: 0;
  }
  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    width: 100%;
    margin-top: 0%;
  }
  h1 {
    margin-bottom: 3%;
  }
  img {
    height: 100px;
  }
}
/* / RESPONSIVE 420PX */

/* RESPONSIVE 992PX */
@media screen and (min-width: 421px) and (max-width: 992px) {
  * {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
  }
  .row {
    width: 100%;
    margin-top: 0px;
    padding: 1% 2%;
    font-family: Arial, Helvetica, sans-serif;
  }
  #lezioni .row > .left,
  #lezioni .row > .right,
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right,
  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    width: 100%;
    margin-bottom: 3%;
  }
  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    margin-top: 0%;
  }
  #lezioni,
  #why {
    background-image: linear-gradient(45deg, #00a4e7, #00bd51);
  }
  #lezioni .row > .left,
  #lezioni .row > .right {
    float: none;
  }
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right {
    margin: 5px;
    background-color: #428bca;
    border-radius: 10px;
    box-shadow: 2px 2px 8px black;
  }
  #steps .row > .left,
  #steps .row > .central {
    width: calc(100% / 2 - 10px);
    height: 280px;
  }
  #steps .row > .right {
    width: calc(100% - 10px);
    margin: 5px;
  }
  #steps .row > .left:active,
  #steps .row > .central:active,
  #steps .row > .right:active {
    background-color: #77b6ec;
  }
  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    width: calc(100% / 3);
    float: left;
    padding: 1%;
  }
  #why .row img {
    height: 90px;
    padding: 10%;
    animation-name: rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  hr {
    display: none;
  }
  h1 {
    margin-bottom: 15px;
    padding: 5px;
    color: white;
    background-color: rgb(230, 48, 48);
    transition: color 5s ease-in;
    animation-name: change-color;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  }
  @keyframes change-color {
    0% {
      color: white;
    }
    25% {
      color: rgba(255, 255, 255, 0.726);
    }
    50% {
      color: rgb(60, 68, 68);
    }
    75% {
      color: rgb(22, 29, 28);
    }
    100% {
      color: white;
    }
  }
  h3 {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  img {
    height: 150px;
  }
}
/* / RESPONSIVE 992PX */
